#root {
  min-height: 100vh;
  height: 100%;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
  height: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 1.6rem;
  height: 100%;
}

.side-menu {
  max-width: 300px;
  width: 100%;
  min-height: 100vh;
  position: sticky;
  top: 0;
  transition: transform 0.3s ease;
}

.side-menu.open {
  transform: translateX(0);
}

.hamburger-btn {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: var(--text-cl);
  /* position: fixed; */
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1100; /* Higher z-index to keep it above the sidebar */
}

@media (max-width: 830px) {
  .side-menu {
    transform: translateX(-100%);
    position: fixed; /* Make the sidebar fixed on smaller screens */
    z-index: 1000;
    height: 100vh;
  }

  .main-container {
    grid-template-columns: 1fr;
  }

  .side-menu.open + .main-container {
    grid-template-columns: 300px 1fr;
  }

  .hamburger-btn {
    display: block;
  }
}
